


.App_div_block{
  border: groove;
  background: #eeedf2;
  margin: 50px;
  height: 400px;
  padding: 20px;

}

.first_page{
  background: url("image/london_first_page.jpg") center no-repeat;
  height: 1080px;
  background-size: cover;
}
